<body>
    <div id="sidebar" class="sidebar" style="width:10%">
        <button class=""closebtn" onclick="closenav()">close</button>
        <a href="\">Home</a>
        <a href="\auckland">Auckland</a>
        <a href="\beaches">Beaches</a>
        <a href="\login">login/register</a>
    </div>
    <div id="main">
        <button class="openbtn" onclick="opennav()">&#9776;</button>
    </div>

    <script src="js/script.js"></script>
</body>