<html>
    <head>
        <%- include('partials/navbar.ejs') %>
        <%- include('partials/header1.ejs') %>
        

        <title>SDBR</title>
        
        <style>
            .home {
                margin: 0;
                padding: 0;
                height: 1000px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            
    
        </style>
    </head>
    <body>
        <div style="display: flex; flex-direction: column; height: 80vh; background-image: url('/public/images/header.png');">
            <div style="display: flex; flex-direction: column; align-items: flex-start; gap: 10px;">
                <a href="/trackinfo" class="btn">Track Info</a>
                <a href="/contact" class="btn">Contact</a>
                <a href="/events" class="btn">Events</a>
            </div>
        
            <p style="height: 50vh; align-content: end;">
            <h1>Welcome to SDBR. A grass roots MX club, offering a variety of events throughout the year, catering to riders of all abilities, where everyone is welcome. Supporting our local Southland community, organisations and charities.
                    </h1>
                            </p>
       </div>
    <div class="homediv2">

    </div>
    </body>
    
</html>

