<html>
    <head>
        <%- include('partials/header1.ejs') %>
    </head>
    <body>
        <h2 style="color:red">Members only page.</h2>
        <%- include('partials/navbar2.ejs') %>
        <p style="color:#00f">
            Welcome to a Members only page. You are now logged in.

        </p>
        <p style="color:#7fae5d">
            more text that i dont want to write

        </p>
    </body>
</html>