<html>
    <head>
        <%- include('partials/navbar.ejs') %>
        <%- include('partials/header1.ejs') %>
    </head>
    <body>
        
        <div class="register">
            <p style="color: green;">Register</p>
            <form method="POST">
                <br><br>
            
                <label for="email">Email</label>
                <input type="text" id="email" placeholder="email address" name="email">
                <br>
                <label for="password">Password</label>
                <input type="text" id="password" placeholder="password" name="password">
                <br>
                <label for="firstname">firstname</label>
                <input type="text" id="firstname" placeholder="firstname" name="firstname">
                <br>
                <label for="lastname">lastname</label>
                <input type="text" id="lastname" placeholder="lastname" name="lastname">
                <br>
                <label for="raceclass">raceclass</label>
                <select id="raceclass" name="raceclass">
                    <option value="SnrA">SnrA</option>
                    <option value="SnrB">SnrB</option>
                    <option value="SnrC">SnrC</option>
                    <option value="SnrD">SnrD</option>
                    <option value="JnrA">JnrA</option>
                    <option value="JnrB">JnrB</option>
                    <option value="JnrC">JnrC</option>
                    <option value="JnrD">JnrD</option>
                    <option value="MiniA">MiniA</option>
                    <option value="MiniB">MiniB</option>
                    <option value="Vets">Vets</option>
                </select>
                
                <br>
                <label for="birthDate">birthDate</label>
                <input type="text" id="birthDate" placeholder="birthDate" name="birthDate">
                <br>
                <label for="biketype">biketype</label>
                <input type="text" id="biketype" placeholder="biketype" name="biketype">
                <br>
                <label for="racenumber">racenumber</label>
                <input type="text" id="racenumber" placeholder="racenumber" name="racenumber">
                <br>
                <button style="border: 2px solid 
                    black; background-color: #808080; 
                    padding: 10px 20px; 
                    font-size: 16px; 
                    cursor: pointer" 
                    type="submit">Submit</button>
                
            </form>
        </div>
        
        </body>
</html>