<html>
    <head>
        <%- include('partials/navbar.ejs') %>
        <%- include('partials/header1.ejs') %>
        <title>Auckland</title>
    </head>
    <body>
        
        <h2>Auckland</h2>
        <img class="img2" src="/public/images/auckland.jpg" alt="Auckland">
        <p>Auckland is.......</p>
        <p style="color: #23085f;">
            some other language la bla bla no one cares about politics
            learn to code and move to thailand
            your life will be amazing and there are heaps of girl
            and its 30 degrees all the time
            also get a scooter, the streets are awesome

        </p>
        </ul>
    </body>
</html>

