<html>
    <head>
        <%- include('partials/navbar.ejs') %>
        <%- include('partials/header1.ejs') %>
        <title>Results</title>
    </head>
    <body>
        
        <h2>Results</h2>
        <ul>
            <% if (files) { %>
                <% files.forEach(function(file) { %>
                    <li>
                        <a href="/public/results/<%= file %>" target="_blank">
                            <p><%= file %></p>
                        </a>
                        
                    </li>
                <% }); %>
            <% } else { %>
                <p>No files found.</p>
            <% } %>
            </ul>


    </body>
</html>

