<html>
    <head>
        <%- include('partials/navbar.ejs') %>
        <%- include('partials/header1.ejs') %>
        

        <title>SDBR</title>
        
        <style>
            .home {
                margin: 0;
                padding: 0;
                height: 1000px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            
    
        </style>
    </head>
    <body>
        <div style="display: flex; flex-direction: row; height: 80vh;">
            <div style="display: flex; flex-direction: column; align-items: flex-start; gap: 10px; width: 20%;">
                <a href="/trackinfo" class="btn">Track Info</a>
                <a href="/contact" class="btn">Contact</a>
                <a href="/events" class="btn">Events</a>
            </div>
            <div style="width: 33%;">
                <p>
                    <b>CLUB TRACK</b><br>
                TRACK RULES<br>
                Waimumu Track​​​​​​​<br><br>
                To Ride this SDBR Track.
                You must have permission from the contacts below.
                You must be a paid club member.
                You have paid a $10 per rider left in the box on entry and envelope must be filled out with money at box.
                Respect the land and other people using the track failure to do so will mean the track will be locked.
                There is only one direction for riding on SDBR tracks please pay attention to track direction sign.
                Make sure all rubbish is taken away with you.
                You have someone with you to watch you ride.
                You ride at your own risk.
                Any accidents need to be reported within 24 hours.
                No Dogs.
                </p>

            </div>
            <div style="display: flex; width: 33%;">
                <a href="https://www.google.com/maps/search/?api=1&query=-46.117803252357,168.793876994771&">
                <img src="/public/images/staticmap.png" style="margin: auto;">
                                </a>
            </div>

       </div>
    <div class="homediv2">

    </div>
    </body>
    
</html>

